<html>
<head>
    <title>update form </title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
    h2{
        text-align: center;
    }
</style>
</head>
<body>
<h2>plz update cost here</h2>
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form method="POST">
                {% csrf_token %}
                {{ uform }}<br>
                <center>
                <input type="submit" value="Update" class="btn btn-success">
                </center>

            </form>
        </div>
    </div>
</div>
</body>
</html>