<html>
<head>
    <title>Products Home Page</title>
    <style>
        h3{
            text-align: center;
        }
        h2{
            text-align: center;
            background-color: blue;
            color: yellow;
            font-family: Arial;
            margin:0px;


        }
        hr{
            margin-top:0px;
            border: 2px solid red;
        }
        body{
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAidmLrXU3GltmqUcvaBQrSyIHV8hM6h1wluGmKghzYq7hylhv">
<h2>Welecome to Product Info Project</h2>
<hr>
<h3>
<a href="/insert">click here to insert the data</a><br>
<a href="/display">click here to dispaly the products</a><br>
<a href="/update">click here update the cost of product </a><br>
<a href="/delete">click here to delete the products</a><br>
    </h3>
</body>
</html>
